

.lettersLink{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  
}

.letterLink{
  padding: 20px;
  text-decoration: none;
  color: gray;
  
}

.letterLink:hover{
  color: #3498db;
  
}